# Virtual Environment
venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log