* html {
scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
font-family: Arial, sans-serif;
background: linear-gradient(to bottom right, #0f172a, #111827, #1e293b);
color: white;
line-height: 1.6;
}


.navbar {
position: sticky;
top: 0;
z-index: 1000;


display: flex;
justify-content: space-between;
align-items: center;

padding: 20px 60px;

background: rgba(17, 24, 39, 0.8);

backdrop-filter: blur(12px);

border-bottom: 1px solid #1f2937;


}


.logo {
font-size: 28px;
font-weight: bold;
color: #38bdf8;
}


nav a {
color: white;
text-decoration: none;
margin-left: 24px;
font-weight: 500;
position: relative;
transition: 0.3s;
}
nav a:hover {
color: #38bdf8;
}

nav a::after {
content: "";
position: absolute;
width: 0%;
height: 2px;
left: 0;
bottom: -5px;
background: #38bdf8;
transition: 0.3s;
}

nav a:hover::after {
width: 100%;
}



.hero {
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 40px;
}


.hero-content {
max-width: 850px;
padding: 50px;
border-radius: 24px;

background: rgba(15, 23, 42, 0.5);

backdrop-filter: blur(14px);

border: 1px solid rgba(56, 189, 248, 0.2);

box-shadow:
0 0 30px rgba(56, 189, 248, 0.1);

animation: floatAnimation 4s ease-in-out infinite;
}


.hero h2 {
font-size: 64px;
margin-bottom: 20px;
color: #38bdf8;
text-shadow: 0px 0px 20px rgba(56, 189, 248, 0.5);
}


.hero p {
font-size: 21px;
margin-bottom: 30px;
color: #cbd5e1;
line-height: 1.9;
}


button {
padding: 14px 28px;
border: none;
border-radius: 8px;
background: #38bdf8;
color: black;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}

button:hover {
transform: scale(1.05);
}

.skills {
padding: 80px 60px;
text-align: center;
}

.skills h2 {
font-size: 40px;
margin-bottom: 40px;
}

.skills-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
}

.card {
background: #1e293b;
padding: 30px;
border-radius: 12px;
font-size: 20px;
transition: 0.3s;
animation: fadeIn 1s forwards;
}

.card:hover {
transform: translateY(-5px);
background: #334155;
}

.projects {
padding: 80px 60px;
}

.projects h2 {
text-align: center;
font-size: 40px;
margin-bottom: 40px;
}

.project-card {
background: rgba(30, 41, 59, 0.8);
padding: 30px;
margin-bottom: 30px;
border-radius: 16px;
transition: 0.3s;
border: 1px solid #334155;
backdrop-filter: blur(10px);
opacity: 0;
animation: fadeIn 1s forwards;
}


.project-card:hover {
transform: translateY(-5px);
}

.project-card h3 {
margin-bottom: 15px;
color: #38bdf8;
}

footer {
text-align: center;
padding: 30px;
background: #111827;
color: #94a3b8;
margin-top: 40px;
}
.project-card a {
display: inline-block;
margin-top: 20px;
padding: 12px 20px;
background: #38bdf8;
color: black;
text-decoration: none;
border-radius: 8px;
font-weight: bold;
transition: 0.3s;
}

.project-card a:hover {
transform: scale(1.05);
}
.hero-buttons {
margin-top: 30px;
}

.hero-buttons a {
display: inline-block;
margin: 10px;
padding: 14px 28px;
background: #38bdf8;
color: black;
text-decoration: none;
border-radius: 10px;
font-weight: bold;
transition: 0.3s;
}

.hero-buttons a:hover {
transform: scale(1.08);
}

.badges {
margin-top: 40px;
}

.badges span {
display: inline-block;
margin: 10px;
padding: 10px 18px;
background: #1e293b;
border: 1px solid #38bdf8;
border-radius: 30px;
color: #38bdf8;
font-size: 14px;
}
.stats {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 20px;
padding: 60px;
}

.stat-box {
background: rgba(30, 41, 59, 0.8);
padding: 40px;
text-align: center;
border-radius: 16px;
border: 1px solid #334155;
transition: 0.3s;
}

.stat-box:hover {
transform: translateY(-8px);
}

.stat-box h3 {
font-size: 36px;
color: #38bdf8;
margin-bottom: 10px;
}

.stat-box p {
color: #cbd5e1;
}
@keyframes fadeIn {
from {
opacity: 0;
transform: translateY(30px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
.social-icons {
margin-top: 40px;
}

.social-icons a {
display: inline-block;
margin: 12px;
font-size: 28px;
color: #38bdf8;
transition: 0.3s;
}

.social-icons a:hover {
transform: translateY(-5px);
color: white;
}
.about-page {
min-height: 80vh;
display: flex;
justify-content: center;
align-items: center;
padding: 60px;
}

.about-container {
max-width: 900px;
background: rgba(30, 41, 59, 0.8);
padding: 50px;
border-radius: 20px;
border: 1px solid #334155;
backdrop-filter: blur(10px);
}

.about-container h2 {
font-size: 48px;
color: #38bdf8;
margin-bottom: 30px;
}

.about-container p {
font-size: 18px;
margin-bottom: 20px;
color: #cbd5e1;
line-height: 1.8;
}
.contact-section {
text-align: center;
padding: 100px 40px;
}

.contact-section h2 {
font-size: 42px;
margin-bottom: 20px;
color: #38bdf8;
}

.contact-section p {
color: #cbd5e1;
margin-bottom: 40px;
font-size: 18px;
}

.contact-links a {
display: inline-block;
margin: 15px;
padding: 14px 24px;
background: rgba(30, 41, 59, 0.8);
border: 1px solid #334155;
border-radius: 12px;
color: white;
text-decoration: none;
transition: 0.3s;
}

.contact-links a:hover {
transform: translateY(-5px);
border-color: #38bdf8;
color: #38bdf8;
}
@keyframes floatAnimation {

0% {
transform: translateY(0px);
}

50% {
transform: translateY(-10px);
}

100% {
transform: translateY(0px);
}

}

.profile-image {
width: 170px;
height: 170px;

object-fit: cover;

border-radius: 50%;

border: 4px solid #38bdf8;

margin-bottom: 30px;

box-shadow:
0 0 30px rgba(56, 189, 248, 0.5);

transition: 0.3s;
}

.profile-image:hover {
transform: scale(1.05);
}
.deployment-badges {
margin-top: 25px;
}

.deployment-badges span {
display: inline-block;
margin: 8px;
padding: 8px 16px;

background: rgba(56, 189, 248, 0.1);

border: 1px solid rgba(56, 189, 248, 0.3);

border-radius: 20px;

font-size: 13px;

color: #7dd3fc;
}
